.group-members {
  & {
    width: 30%;
  }
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  > ul > li {
    color: white;
    margin-bottom: 1.3em;
  }
  > ul > li:last-child {
    margin-bottom: 0;
  }
  > ul > li > img {
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1rem;
  }
}
