.group-info {
  & {
    width: 30%;
  }
  > h1, > .name {
    font-size: 1.414em;
  }
  > h1 {
    margin-bottom: 0;
  }
  > .name {
    margin-bottom: 1.3em;
  }
}

@media (max-width: 1000px) {
  .group-info { width: 100%; }
}
