.intro-text {
  & {
    width: 100%;
    max-width: 60%;
  }
  > h1 {
    margin-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .intro-text {
    & {
      max-width: 100%;
    }
    > h1 {
      line-height: 1;
    }
  }
}
