.invite-link {
  > pre {
    background: rgba(170, 58, 56, 0.5);
    border-bottom: 1px solid;
    padding: 1rem;
    overflow-x: auto;
  }
  > pre > code > a {
    text-decoration: none;
  }
}

@media (max-width: 1000px) {
  .invite-link { width: 100%; }
}
